@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminIndexLayout";
    ViewData["Title"] = "Mesajlar";
    ViewData["Active"] = "deactive";
    ViewData["Deactive"] = "active";
    int i=1;
}

@model IEnumerable<gebzedemo.Models.AdminGetData>
   

	<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">İsim</th>
      <th scope="col">Soyisim</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefon</th>
      <th scope="col">Mesaj</th>

	
    </tr>
  </thead>
  <tbody>
    
        @foreach(var item in Model)
        {

            using (Html.BeginForm("Delete", "Admin", new { id = item.Id })) {

                <tr>
                    <th scope="row">@i</th>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.Message</td>
                    <td><button type="submit" value="Delete" onclick="return confirm('@i numaralı mesaj silincek emin misiniz?');" class="btn btn-danger">Sil</button></td>
                </tr>
                i++;
            }
            
           
        }

    
  </tbody>
</table>